body{
    background: rgb(17, 28, 31);
    color: aliceblue;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
}

#facility-tables {
    display: flex;
    gap: 20px;
}